<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <servlet>
        <servlet-name>ServletLR</servlet-name>
        <servlet-class>chat.ServletLR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sendmsg</servlet-name>
        <servlet-class>chat.Sendmsg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageHandling</servlet-name>
        <servlet-class>chat.MessageHandling</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <!-- Directory where file data will be temporarily stored -->
            <max-file-size>10485760</max-file-size>
            <!-- Max file size (10MB) -->
            <max-request-size>20971520</max-request-size>
            <!-- Max request size (20MB) -->
            <file-size-threshold>0</file-size-threshold>
            <!-- File size threshold before writing to disk -->
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>FetchMessagesServlet</servlet-name>
        <servlet-class>chat.FetchMessagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>chat.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDownloadServlet</servlet-name>
        <servlet-class>chat.FileDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GMessageDAO</servlet-name>
        <servlet-class>chat.GMessageDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>groupchat</servlet-name>
        <servlet-class>chat.groupchat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Grp_chat_servlet</servlet-name>
        <servlet-class>chat.Grp_chat_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrpChatMessageHandling</servlet-name>
        <servlet-class>chat.GrpChatMessageHandling</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberAddition</servlet-name>
        <servlet-class>chat.MemberAddition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GROUP_CHAT</servlet-name>
        <servlet-class>chat.GROUP_CHAT</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLR</servlet-name>
        <url-pattern>/ServletLR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sendmsg</servlet-name>
        <url-pattern>/Sendmsg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageHandling</servlet-name>
        <url-pattern>/MessageHandling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchMessagesServlet</servlet-name>
        <url-pattern>/FetchMessagesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDownloadServlet</servlet-name>
        <url-pattern>/FileDownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GMessageDAO</servlet-name>
        <url-pattern>/GMessageDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>groupchat</servlet-name>
        <url-pattern>/groupchat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Grp_chat_servlet</servlet-name>
        <url-pattern>/Grp_chat_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrpChatMessageHandling</servlet-name>
        <url-pattern>/GrpChatMessageHandling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberAddition</servlet-name>
        <url-pattern>/MemberAddition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GROUP_CHAT</servlet-name>
        <url-pattern>/GROUP_CHAT</url-pattern>
    </servlet-mapping>
</web-app>
